/*include the background color to the body*/
body{
    margin:0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing:grayscale;
    background-image: linear-gradient(90deg,#a7becc,#2174b8);
}
/*include the padding and border in an element width and height*/
*{
    box-sizing: border-box;
}
/*style header*/
.header {
    margin: 0 60px 0 60px;
    height: 14vh;
    display: -webkit-flex;
    -webkit-align-items: flex-end;
    align-items: flex-end;
    border-bottom: 1px solid;
    border-color: hsla(0,0%,100%,.5);
    color: #fff;
    padding-top: 25px;
}

.mainLogo{
    height: 15vh;
    width: 115px;

}

.headNavButtonsContainer{
    -webkit-justify-content:flex-end;
    justify-content: flex-end;
    margin-bottom: .6%;
    width: 87vw;
}

.headNavButtonsContainer, .linkTag{
    display: flex;
    -webkit-align-items:center;
    align-items: center;
}

.addTask{
height: 3vh;
cursor: pointer;
background-color: #ff619e;
border: solid;
border-color: black;
border-radius: 4px;
padding:18px 0;
}

.addTask, .addTaskBtnIconsContainer{
-webkit-align-items:center;
align-items: center;
display: flex;
}

.linkTag{
    width: 110px;
    height: 3vh;
    -webkit-justify-content: center;
    justify-content: center;
}

.btntext{
    padding-left: .4vw;
    font-size: 14px;
}

.addTaskContainer{
    color: white;
    display: none;
    margin: 20px 60px 0 60px;
}
.itemcontainer{
    border-radius: 6px;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap:nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content:start;
    justify-content: start;
    background-color: white;
}

.taskInputFieldContainer{
width:75%;
padding: 1.2% 5% 1.6% 2.2%;
}

.addTaskInputField{
resize: none;
width: 100%;
height: 55px;
border: none;
border-bottom: 1px solid #d3d3d3;
overflow-wrap: break-word;
background-color: initial;
flex-wrap: wrap;
-webkit-flex-wrap: wrap;
font-size: 14px;
}

.addTaskEditBtnContainer{
    display: flex;
    width: 25%;
}

.addTaskBtnIconsContainer{
    width: 33.3%;
    -webkit-justify-content:center;
    justify-content: center;
}


.saveTaskIcon{
    height: 25%;

}


.deleteIconsContainer{
width: 33.3%;
-webkit-justify-content:center;
justify-content: center;
display: none;
}
.noDataFound{
    justify-content: center;
    align-content: center;
}